/* Do tohoto souboru piš vlastní styly */

:root {
    --hlavni-barva: #dd614a;
    --doplnkova-barva: #73a580;
    --vnitrni-vypln-tlacitek: 0.5em;
    --barva-pozadi: #15202b;
    --barva-textu: #ffffff;

	
}

@media (prefers-color-scheme: light){
    :root{
        --barva-pozadi: #ffffff;
        --barva-textu: #15202b;
    }
}

body{
    background-color: var(--barva-pozadi);
    color: var(--barva-textu);
}

h1{
    color: var(--hlavni-barva);
}

a{
    color: var(--doplnkova-barva);
}

a:hover{
    color: var(--hlavni-barva);
}

.tlacitko{
    background-color: var(--hlavni-barva);
    padding: var(--vnitrni-vypln-tlacitek);
    border-radius: var(--vnitrni-vypln-tlacitek);
    border: none;
    color: white;
    font-size: inherit;
    text-decoration: none;
}

.tlacitko.tlacitko--doplnkove{
    background-color: var(--doplnkova-barva);
    padding: var(--vnitrni-vypln-tlacitek);
    border-radius: var(--vnitrni-vypln-tlacitek);
    border: none;
    color: white;
    font-size: inherit;
    text-decoration: none;
}

.tlacitko:hover{
    text-decoration: underline;
}

.tlacitko.tlacitko--doplnkove:hover{
    text-decoration: underline;
}

